<!DOCTYPE html>
<html>
  <head>
    <title>Form41904</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header calss="header">
      <div class="main_title">
        <h1>〇〇消防局事前予約システム</h1>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <div calss=footer_main>
        <p>お問い合わせ先</p>
      </div>
      <div class="name">
        <p>〇〇消防局予防部予防課</p>
      </div>
      <div class="address">
        <p>〒111-1234 京都府京都市</p>
      </div>
      <div class="phon-number">
        <p>0123-12-3456</p>
      </div>
      <div class="mail">
        <p>12345@example.com</p>
      </div>
    </footer>
  </body>
</html>
